{% extends "base.html" %}
{% load static %}
{% block content1 %} 

<div class="row">  

    <div class=" mt-4 p-4 bg-primary text-white rounded">
        <h1 class="display4"> Advanced Python </h1>
    </div>
    <div class=" mt-4 p-4 bg-primary text-white rounded">
        <h1 class="display4">Django </h1>
    </div>
    <div class=" mt-4 p-4 bg-primary text-white rounded">
        <h1 class="display4">ADCA </h1>
    </div> 
    <div class=" mt-4 p-4 bg-primary text-white rounded">
        <h1 class="display4">Frontend </h1>
    </div>


</div>
{% endblock content1 %}